<h1><strong>About</strong></h1>

<%= link_to "Back Home", welcome_index_path %>

<h2>Site Avengers: </h2>
<ul>
    <% @wiki_posts.contributors.compact.each do |contributor| %>
        <li><%= contributor.titleize %></li>
    <% end %>
</ul>